<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SysOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%thread/%highlight(%level)] [%white(%logger{0})]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%thread/%level] [%logger{0}]: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="SysOut" />
        <appender-ref ref="File" />
    </root>
</configuration>
